body{
    /* if you want to change the background color, change the background-color: */
    margin: 0;
    padding: 0;
    text-align: center;
    /*To change to font, change the font-family.*/ 
}

h2{
    color: #ffffff; 
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    /* if you want to change the color of Your Name and Hero Text Heading,
     change the color: */
}

h4{
    color:#FFFFFF; 
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    /* if you want to change the color of Projects, Contact Me, and Your Resume,
     change the color: */
}

h3, h5, p{
    color: #000000;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    /* if you want to change the color of Hero Text Subheading, 
    change the color: */
}

img{
    width: 100px;
    height: 500px;
    margin-left: 250px;
    border-radius: 50px;
}

.img-container{
    width: 700px;
    height: 550px;
    overflow: hidden;
}

.img-container img{
    /* To change the dimensions of the image, modify the
    width and height properties. */
    width: 400px;
    height: 500px;
    object-fit:cover;
}

.col h5{
    padding-top: 10px;
}

#icons{
    display: flex;
    gap: 25px; /*This separates the Github Logo and the LinkedIn Logo*/
    margin-right: 5rem;
}

.bi-github{
    font-size: 25pt;
    color: #FFF; /*This is to change the color of the Github Logo*/
    text-shadow: 3px 2px 1px #DAB844;
    /*The first two values are for the angle of the shadow.
    The first value deals across the x-axis and the second
    deals across the y-axis. The third value deals with
    how far the shadow should extend. The last value is for 
    the color of the shadow.*/
    /* Text-shadow is to change the color of the shadow, 
    the angle of the shadow, and how far the shadow should extend. */
}
.bi-linkedin{
    font-size: 25pt;
    color: #FFF; /*This is to change the color of the LinkedIn Logo*/
    text-shadow: 3px 2px 1px #DAB844;
    /*The first two values are for the angle of the shadow.
    The first value deals across the x-axis and the second
    deals across the y-axis. The third value deals with
    how far the shadow should extend. The last value is for 
    the color of the shadow.*/
    /* Text-shadow is to change the color of the shadow, 
    the angle of the shadow, and how far the shadow should extend. */
}


/* Nav Hovering Effect */
.nav-link{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav-link a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.nav-link:after{
    content:'';
    height: 3px;
    width: 0;
    background: #DAB844;
    position: absolute;
    left: 0;
    bottom: -10;
    transition: 0.5s;
}

.nav-link:hover::after{
    width: 100%;
}


.custom-navbar{
    position: absolute;
    top: 0; /* Align to the top of the header */
    right: 0; /* Align to the left of the header */
    width: 100%; /* Full width */
    z-index: 10; /* Higher value to ensure it overlays other elements */
}

.header{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("assets/headshot.jpg");
    background-size: contain;
    background-position:initial;
    background-size: 
    33.33%;
    background-repeat:repeat-x;

    padding-top: 600px; /* Add padding to compensate for the fixed navbar */
    text-align: center;
    position: relative;
    z-index: 1;
}

.about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 300px;
    padding-top: 800px;
}

.aboutme-container{
    background-color: #b3a39d;
    padding: 150px;
    border-radius: 5px; /* Optional: for rounded corners */
    color: white; /* Optional: to make text readable on the background */
}

.image-overlay-container {
    position: relative;
    display: inline-block;
  }
  
  .main-image {
    display: block;
    width: 100%;
  }
  
  .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.5; /* Adjust opacity as needed */
  }
.exp-container{
    background-color: #728394;
    padding: 150px;
    border-radius: 5px; /* Optional: for rounded corners */
    color: white; /* Optional: to make text readable on the background */
    
}

.extra-container{
    background-color: #494949;
    padding: 150px;
    border-radius: 5px; /* Optional: for rounded corners */
    color: white; /* Optional: to make text readable on the background */
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*.contact-left-title h2 is in charge of
'Get in Touch'. */
.contact-left-title h2{
    font-weight: 600;
    color: #B5838D;
    /*to change the color of the text, change this ^*/
    font-size: 40px;
    margin-bottom: 5px;
}

/*.contact-left-title hr is in charge of
the line that is underneath 'Get in Touch'*/
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #B5838D;
    /*to change the color of the line, change this ^*/
    border-radius: 10px;
    margin-bottom: 20px;

}

/*to change the colors of your responses to
'Your Email, Your Name, Your Message'*/
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #E5989B; /*change this*/
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

/*after you press an input to type, the border of the input field
is boldened. To change the color of the 'active' or 'selected'
border, */
.contact-inputs:focus{
    border: 2px solid #6D6875; /*change this hex color*/
}

/*to change the colors of 'Your Email, Your Name, Your Message'*/
.contact-inputs::placeholder{
    color:#B5838D /*change this*/
}

/*.contact-left button is in charge of the button in the 
web form that says 'Submit'*/
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #FFF;
    /*to change the font color, change this ^*/
    gap:10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #E5989B,#FFB4A2);
    /*to change the color of the button, change this ^.
    You can remove linear-gradient and enter a hex color.
    You can also simply replace the current hex colors with
    hex colors of your choice.*/
    cursor:pointer;
}
