body{
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Fonts */
h2{
    color: #ffffff; 
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}

h4{
    color:#FFFFFF; 
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

h3, h5, p{
    color: #000000;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.skill h5{
    margin-bottom: 10px;
}

.col h5{
    padding-top: 10px;
}

/* Images */

.main-image{
    
    height: auto;
    border-radius: 50px;
}

.img-container{
    width: 700px;
    height: 550px;
    overflow: hidden;
}

.img-container img{
    /* To change the dimensions of the image, modify the
    width and height properties. */
    width: 400px;
    height: 500px;
    object-fit:cover;
}

/* Icons */

.bi-github{
    font-size: 20pt;
    color: #FFF; /*This is to change the color of the Github Logo*/
    text-shadow: 3px 2px 1px #CEB8A3;
    padding-left: 20px;
    /*The first two values are for the angle of the shadow.
    The first value deals across the x-axis and the second
    deals across the y-axis. The third value deals with
    how far the shadow should extend. The last value is for 
    the color of the shadow.*/
    /* Text-shadow is to change the color of the shadow, 
    the angle of the shadow, and how far the shadow should extend. */
}
.bi-linkedin{
    font-size: 20pt;
    color: #FFF; /*This is to change the color of the LinkedIn Logo*/
    text-shadow: 3px 2px 1px #CEB8A3;
    padding-left: 20px;
    /*The first two values are for the angle of the shadow.
    The first value deals across the x-axis and the second
    deals across the y-axis. The third value deals with
    how far the shadow should extend. The last value is for 
    the color of the shadow.*/
    /* Text-shadow is to change the color of the shadow, 
    the angle of the shadow, and how far the shadow should extend. */
}

.bi-discord{
    font-size: 20pt;
    color: #FFF; /*This is to change the color of the LinkedIn Logo*/
    text-shadow: 3px 2px 1px #CEB8A3;
    padding-left: 20px;
    /*The first two values are for the angle of the shadow.
    The first value deals across the x-axis and the second
    deals across the y-axis. The third value deals with
    how far the shadow should extend. The last value is for 
    the color of the shadow.*/
    /* Text-shadow is to change the color of the shadow, 
    the angle of the shadow, and how far the shadow should extend. */
}

/* Nav Hovering Effect */
.nav-link{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav-link a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.nav-link:after{
    content:'';
    height: 3px;
    width: 0;
    background: #DAB844;
    position: absolute;
    left: 0;
    bottom: -10;
    transition: 0.5s;
}

.nav-link:hover::after{
    width: 100%;
}


.custom-navbar{
    position: absolute;
    top: 0; /* Align to the top of the header */
    right: 0; /* Align to the left of the header */
    width: 100%; /* Full width */
    z-index: 10; /* Higher value to ensure it overlays other elements */
}

/* About Me */
.header{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("assets/headshot.jpg");
    background-size: contain;
    background-position:initial;
    background-size: 
    33.33%;
    background-repeat:repeat-x;

    padding-top: 600px; /* Add padding to compensate for the fixed navbar */
    text-align: center;
    position: relative;
    z-index: 1;
}

.about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 300px;
    padding-top: 800px;
}

.aboutme-container{
    background-color: #b3a39d;
    padding: 150px;
    border-radius: 5px; /* Optional: for rounded corners */
    color: white; /* Optional: to make text readable on the background */
}

.image-overlay-container {
position:relative;
width: 100%;
}
  
.main-image {
display: block;
width: 100%;
}

.summary{
    padding: 25px;
}

.progress{
    height: 10px;
    margin-bottom: 20px;
    background-color: #444;
}

.progress-bar{
    background-color: #bbb;
    text-align: right;
    padding-right: 5px;
    color: black;
    font-weight: bold;
}

.experience{
    display: flex;
    background-color: #CEB8A3;
    padding: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    
}

.extra{
    display: flex;
    background-color: #CEB8A3;
    padding: 150px;
   
}

footer {
    padding: 20px;
    background-color: #212121;
    position: relative;
  }
  

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*.contact-left-title h2 is in charge of
'Get in Touch'. */
.contact-left-title h2{
    font-weight: 600;
    color: #CEB8A3;
    /*to change the color of the text, change this ^*/
    font-size: 40px;
    margin-bottom: 5px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

/*.contact-left-title hr is in charge of
the line that is underneath 'Get in Touch'*/
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #CEB8A3;
    border-radius: 10px;
    margin-bottom: 20px;

}

/*to change the colors of your responses to
'Your Email, Your Name, Your Message'*/
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #000000;
    border-radius: 50px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

/*after you press an input to type, the border of the input field
is boldened. To change the color of the 'active' or 'selected'
border, */
.contact-inputs:focus{
    border: 2px solid #6D6875; /*change this hex color*/
}

/*to change the colors of 'Your Email, Your Name, Your Message'*/
.contact-inputs::placeholder{
    color:#212121/*change this*/
}

/*.contact-left button is in charge of the button in the 
web form that says 'Submit'*/
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #212121;
    /*to change the font color, change this ^*/
    gap:10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #E5989B,#CEB8A3);
    /*to change the color of the button, change this ^.
    You can remove linear-gradient and enter a hex color.
    You can also simply replace the current hex colors with
    hex colors of your choice.*/
    cursor:pointer;
}

.links {
    margin-top: 610px; /* Add space between the form and the links */
    text-align: center;
}


.timeline {
    position: relative;
    padding: 1em 0;
    list-style: none;
}
.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #d4d4d4;
    content: '';
    left: 50%;
    margin-left: -2px;
}
.timeline > li {
    position: relative;
    min-height: 50px;
    padding: 20px 0;
}
.timeline > li:before,
.timeline > li:after {
    content: "";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 44%;
    float: right;
    position: relative;
    text-align: left;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    display: inline-block;
    border-top: 12px solid transparent;
    border-left: 12px solid #d4d4d4;
    border-right: 0 solid #d4d4d4;
    border-bottom: 12px solid transparent;
    content: '';
}
.timeline > li > .timeline-time {
    position: absolute;
    width: 20%;
    text-align: right;
    padding-left: 0px;
    top: 20px;
}